@model Transaction
<div>
    <h4>Ticket Details</h4>
    <hr />
    <table class="table table-striped table-bordered">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <td>@Html.DisplayFor(model => model.Id)</td>
        </tr>
        <tr>
            <th>Division</th>
            <td>@Html.DisplayFor(model => model.DivisionID) | @Html.DisplayFor(model => model.DivisionName)</td>
        </tr>
        <tr>
            <th>District</th>
            <td>@Html.DisplayFor(model => model.DistrictID) | @Html.DisplayFor(model => model.DistrictName)</td>
        </tr>
        <tr>
            <th>Branch</th>
            <td>@Html.DisplayFor(model => model.BranchCode) | @Html.DisplayFor(model => model.BranchName)</td>
        </tr>
        <tr>
            <th>ICT Focal Person Email</th>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <th>ICT Focal Person Name</th>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <th>Device Name</th>
            <td>@Html.DisplayFor(model => model.DeviceName)</td>
        </tr>
        <tr>
            <th>Brand Name</th>
            <td>@Html.DisplayFor(model => model.BrandName)</td>
        </tr>
        <tr>
            <th>Serial Number</th>
            <td>@Html.DisplayFor(model => model.SerialNumber)</td>
        </tr>
        <tr>
            <th>Issue Date</th>
            <td>@Html.DisplayFor(model => model.ModifiedIssueDate)</td>
        </tr>
        <tr>
            <th>Types of Issue</th>
            <td>@Html.DisplayFor(model => model.TypeOfIssue)</td>
        </tr>
        <tr>
            <th>Solution Date by ICT</th>
            <td>@Html.DisplayFor(model => model.ModifiedSolutionDateICT)</td>
        </tr>
        <tr>
            <th>Solution Date by Service Center</th>
            <td>@Html.DisplayFor(model => model.ModifiedServiceCenter)</td>
        </tr>
        <tr>
            <th>Service Provider Name & Phone No</th>
            <td>@Html.DisplayFor(model => model.ServiceProviderName)</td>
        </tr>
        <tr>
            <th>Solution Details</th>
            <td>@Html.DisplayFor(model => model.SolutionDetails)</td>
        </tr>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="SearchbySerialNumber">Back to List</a>
</div>

